#Folders
target/
#pom.xml.tag
#pom.xml.releaseBackup
#pom.xml.versionsBackup
#pom.xml.next
#release.properties
#dependency-reduced-pom.xml
#buildNumber.properties
#.mvn/timing.properties
test-output/

/Logs/
/bin/
.settings/
.idea/
#/src/test/resources/data/csv/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#Files
.project
.classpath
.gitignore